strict-peer-dependencies=false
shamefully-hoist=true
ignore-workspace-root-check=true
shell-emulator=true
registry=https://packages.aliyun.com/5eb3e37038076f00011bcd4a/npm/npm-registry/

always-auth=true
